/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* CSS for main page */
body {
  font-family: var(--font-sans);
  display: grid;
  grid-template-columns: minmax(var(--size-12), 1fr) 5fr;
  grid-template-rows: var(--size-8) 1fr var(--size-9);
  grid-template-areas: "nav head" "nav main" "nav foot";
}

body > header {
  grid-area: head;
  background-color: var(--dietpi-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-2);
}

nav {
  grid-area: nav;
  background-color: var(--gray-12);

  a,
  div {
    display: flex;
    align-items: center;
    height: var(--size-8);
  }

  div {
    justify-content: center;
    background-color: var(--dietpi-dark);
    font-size: var(--font-size-4);
  }

  a {
    color: var(--gray-3);
    text-decoration: none;
    font-size: var(--font-size-3);
    gap: var(--size-2);
    padding: var(--size-2);

    &:hover {
      background-color: var(--gray-9);
    }
  }
}

main {
  background-color: var(--gray-0);
  padding: var(--size-2);
}

section {
  background-color: white;
  border-radius: var(--radius-md);
  padding: var(--size-2);
  box-shadow: var(--shadow-lg);

  header {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-3);
    border-bottom: var(--border-size-3) solid var(--gray-3);
    margin-bottom: var(--size-2);
  }
}

footer {
  background-color: var(--gray-3);
  border-top: var(--border-size-1) solid var(--gray-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-1);
}

/* CSS for system page */
.meter-container {
  height: var(--size-4);
  background-color: var(--gray-6);
}

.meter-container div {
  height: 100%;
  transition: width 500ms;
}

#cpu-meter {
  background-color: var(--green-6);
}

#ram-meter {
  background-color: var(--red-6);
}
