/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Invisible buttons */
button {
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* CSS for main page */
body {
  font-family: var(--font-sans);
  display: grid;
  grid-template-columns: var(--size-13) auto;
  grid-template-rows: var(--size-8) auto var(--size-9);
  grid-template-areas:
    "title head"
    "nav   main"
    "nav   foot";
  transition: grid-template-columns 500ms;
}

h1 {
  grid-area: title;

  display: grid;
  place-content: center;

  text-wrap: nowrap;
  overflow: hidden;

  background-color: var(--dietpi-dark);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-4);
}

header {
  grid-area: head;

  background-color: var(--dietpi-light);
  display: grid;
  place-content: center;
  font-size: var(--font-size-2);
}

nav {
  grid-area: nav;

  background-color: var(--gray-12);

  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-rows: var(--size-8);

  a {
    display: grid;
    grid-column: span 2;
    grid-template-columns: subgrid;
    align-items: center;
    gap: var(--size-2);

    padding-inline: var(--size-2);

    color: var(--gray-3);
    text-decoration: none;
    font-size: var(--font-size-3);

    &:hover {
      background-color: var(--gray-9);
    }
  }
}

main {
  background-color: var(--gray-0);
  padding: var(--size-2);

  >*+* {
    margin-top: var(--size-3);
  }
}

footer {
  background-color: var(--gray-3);
  border-top: var(--border-size-1) solid var(--gray-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-1);
}

section {
  background-color: white;
  border-radius: var(--radius-md);
  padding: var(--size-2);
  box-shadow: var(--shadow-lg);
  border-top: var(--border-size-3) solid var(--gray-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  h2 {
    font-weight: var(--font-weight-medium);
    border-bottom: var(--border-size-2) solid var(--gray-3);
  }
}

/* Basic table styling */
/* Light border, alternating row colors */
table {
  width: 100%;

  border-collapse: collapse;

  border: var(--gray-0) solid var(--border-size-2);

  thead>tr {
    background-color: var(--dietpi-light);
    height: var(--size-6);

    th {
      font-weight: var(--font-weight-medium);
    }
  }

  tbody>tr {
    border-bottom: var(--gray-6) solid var(--border-size-1);

    &:nth-child(odd) {
      background-color: var(--gray-3);
    }
  }
}